extends ../templates/layout

block append scripts
    script(src="/js/lobby.js")

mixin challengeRow(val)
    tr
        td
            a(href=`/view/user/${val['username']}`)= val['username']
        td= val['gtype']
        td
            input(value='Accept', type='button', class='challenge-button', data-opponent=val['username'], data-game=val['gtype']) 
            //onclick=`goTo('/games/${val['username']}-${val['gtype']}')`)

mixin sentChallengeRow(val)
    tr
        td
            a(href=`/view/user/${val['opponent']}`)= val['opponent']
        td= val['gtype']
        td
            input(value='Accept', type='button', class='challenge-button', data-opponent=val['opponent'], data-game=val['gtype'])
            //onclick=`goTo('/games/${val['opponent']}-${val['gtype']}')`)

block content
    center.container
        h3 Challenge Someone!
        b Opponent Username:
        input#opponent(type="text")
        br
        b Game: 
        select(id='game')
            option(value=" ", selected="selected") -- Please choose a game --
            option(value="TicTacToe") TicTacToe
            option(value="Chess") Chess
        br
        br
        input(type='button', value='Challenge', onclick='challenge()')

    block sentChallenges
        h3 Sent Challenges:
        table
            tr
            each val in challengeInfo
                if user.username == val['username']
                    +sentChallengeRow(val)

    block challenges
        h3 Received Challenges:
        table
            tr
            each val in challengeInfo
                if user.username == val['opponent']
                    +challengeRow(val)
